body{
	background-color: yellow;
}
#text{
	color: black;
	font-family: cursive;
	font-size: 300%;
    font:center;
}
.menu{
	color: black;
	font-family: cursive;
	font-size: 200%;
    font:center;
}
#link{
	color: #0500D1;
	font-family: cursive;
	font-size: 200%;
	font: center;
}